@font-face {
    font-family: figtree;
    src: url('../font/Figtree-Light.otf');
}
// @font-face {
    // font-family: figtree;
    // src: url('../font/Figtree-Regular.otf');
// }

@font-face {
    font-family: kalam;
    src: url('../font/kalam.ttf');
}